/* Стили для страницы "О проекте" */

body {
    font-family: 'Arial', sans-serif;
    background-color: #fcfcfc;
    color: #333;
    margin: 0;
    padding: 20px;
}

.project-info {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 33px;
    margin-bottom: 15px;
    color: #007bff; /* Цвет заголовка */
}

p {
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .project-info {
        padding: 15px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }
}
