{% extends "base.html" %}
{% load static %}

{% block title %}О проекте{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="vonnegut-container">
    <p class="vonnegut-title">Здесь Вы сможете найти немного информации о проекте</p>
    <p class="vonnegut-text enlarged-text">Это бесплатный проект посвещенный творчеству знаменитого американского писателя Курта Воннегута. Цель проекта заключается в том, чтобы познакомить широкий круг читателей с оригинальным творчеством великого(непобоюсь этого слова) автора.</p>
    <p class="vonnegut-text enlarged-text"> На нашем сайте вы найдете много чего интресного! <i style="color: blue;">Приятного чтения ;)</i></p>
</div>
{% endblock %}