{% load static %}

<header>
  <!-- Подключаем Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <!-- Логотип и название  -->
      <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
        <img src="{% static 'img/logo1.png' %}" class="d-inline-block align-top me-2" 
             style="height: 120px;" alt="">
        <span class="brand-text fs-1">Воннегут</span>
      </a>

      <!-- Кнопка бургер-меню для открытия/закрытия -->
      <button class="navbar-toggler p-3 fs-2" type="button" id="sidebarButton">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <!-- Окно меню -->
  <div class="offcanvas offcanvas-end" 
       tabindex="-1" id="sidebarMenu" 
       aria-labelledby="sidebarMenuLabel"
       style="background-color: #c8f5ffab">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title ms-2 fs-1" id="sidebarMenuLabel">
          Меню
        </h5>

        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
        </button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav fs-4">
          <li class="nav-item p-2">
            <a class="nav-link active" href="{% url 'home' %}">
              <i class="bi bi-house-fill me-3 fs-3"></i>
              Главная
            </a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link active" href="{% url 'article' %}">
              <i class="bi bi-file-text-fill me-3 fs-3"></i>
              Статьи
            </a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link active" href="{% url 'random_fact' %}">
              <i class="bi bi-star-fill me-3 fs-3"></i>
              Случайный факт
            </a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link active" href="{% url 'book_kurt' %}">
              <i class="bi bi-book-fill me-3 fs-3"></i>
              Книги
            </a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link" href="{% url 'oproject' %}">
              <i class="bi bi-info-circle-fill me-3 fs-3"></i>
              О проекте
            </a>
          </li>
        </ul>
      </div>
  </div>

  <!-- Подключаем Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
  </script>
<!-- Добавьте в head ссылку на Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
  <!-- Базовый скрипт для управления меню -->
  <script>
    document.addEventListener('DOMContentLoaded', function(){
      const sidebarButton = document.getElementById('sidebarButton');
      const sidebarMenu = new bootstrap.Offcanvas(document.getElementById('sidebarMenu'));

      sidebarButton.addEventListener('click', function(){
        sidebarMenu.toggle();
      });
    });
  </script>
  
</header>