{% extends "base.html" %}
{% load static %}

{% block title %}Бойня номер 5{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/article_text.css' %}">


<div class="vonnegut-container">
    <h1 class="vonnegut-title">Бойня номер 5, или Крестовый поход детей</h1>
    <p class="vonnegut-text enlarged-text">
        Читая «Бойню номер 5», вы так или иначе столкнётесь с ощущением абсурдности происходящего. 
        Однако ближе к концу произведения приходит понимание: тот абсурд, 
        который повсеместно встречается в книгах Воннегута, — 
        не что иное, как неотъемлемая часть реальной жизни.(да, нашей с вами жизни, а не какой-то выдуманной) 
        Жизни без прикрас и романтизма, которая происходит с каждым из нас без исключения. 
        Она накрывает нас, словно огромная тихоокеанская волна — маленьких беззащитных моллюсков, 
        едва высунувших головы из своих домиков.
    </p>
    
    <p class="vonnegut-text enlarged-text">
    Повествование в <i>«Бойне номер 5»</i> представляет собой мозаику отдельных событий из жизни Билли Пилигрима, которые в конечном счёте сплетаются в единую картину — картину судьбы человечества. Именно из этих разрозненных, на первый взгляд, фрагментов складывается целостное повествование, и в этом, безусловно, магия текстов Воннегута. То, что кажется абсурдным, он делает настоящим; то, что кажется выдуманным, — реальным.
    </p>

    <p class="vonnegut-text enlarged-text">
        <strong>Сюжет</strong><br>
        Я не вижу особой необходимости задерживать внимание на сюжете — не только из-за его разрозненности (что затрудняет пересказ фабулы), но и потому, что при анализе <i>«Бойни номер 5»</i> это не так уж важно. Да, вы не ослышались. Тексты американского прозаика, хоть и отличаются необычным построением, как и вся великая литература, всегда были чем-то большим, чем просто сюжет.
    </p>

    <p class="vonnegut-text enlarged-text">
        Но вкратце пробежимся по содержанию.<br>
        Главный герой, американский солдат Билли Пилигрим, в результате военного шока начинает путешествовать во времени и по иным мирам. Его похищают инопланетяне (которых Воннегут называет тральфамадорцами), и бывший солдат Второй мировой посещает разные события своей жизни — конечно, не в линейном порядке. Вот, пожалуй, и всё, что нужно знать о сюжете <i>«Бойни»</i>.
    </p>

    <p class="vonnegut-text enlarged-text">
        <strong>Стиль</strong><br>
        Ранее мы уже затрагивали стиль Воннегута, теперь рассмотрим его подробнее.<br>
        Характерная черта многих его романов — отсутствие моральной оценки происходящего. А это очень необычно! Автор не спешит осуждать героев за жестокость, глупость или лицемерие. Нет, он остаётся сторонним наблюдателем, а его персонажи холодны и бесстрастны.
    </p>

    <p class="vonnegut-text enlarged-text">
        Билли Пилигрим постоянно попадает в абсурдные ситуации, нелепые стычки и прочее. Но проследим за его реакцией: он абсолютно спокоен и серьёзен, хотя в реальности такое трудно представить. Вся несправедливость и нелепость, с которыми он сталкивается, воспринимается им как нечто само собой разумеющееся — что вновь подчёркивает идею бессмысленности жизни и абсурдности человеческих судеб.
    </p>

    <p class="vonnegut-text enlarged-text">
        Но даже сквозь пессимизм Воннегут показывает красоту существования, не отступая от мысли, что абсурд — часть жизни. Автор словно не ждёт от читателя эмоциональной реакции. И только Билли находит, пожалуй, единственно верные слова: <i>«Такие дела»</i>.
    </p>

    <p class="vonnegut-text enlarged-text">
        Ещё для Воннегута характерна обрывистость повествования. Играя с читателем, он погружает его во всё более странные ситуации, всё хаотичнее излагая судьбу героя. Но в каждом из этих фрагментов — что-то пронзительное. Воннегут собирает мозаику из судеб, и особенно впечатляет лаконичность этих сцен, его умение отшлифовать финал до блеска. Именно так выглядит это необычное путешествие Пилигрима во времени — да и другие тексты писателя, даже если их сюжет кажется линейным.
    </p>

    <p class="vonnegut-text enlarged-text">
        <i>Такие дела.</i>
    </p>

    <p class="vonnegut-text enlarged-text">
        <strong>Война</strong><br>
        Войну Воннегут изображает в своём неповторимом стиле. Он не даёт оценок, не выносит вердиктов цивилизации или человеческой глупости. Он просто показывает всё как есть, без прикрас.
    </p>

    <p class="vonnegut-text enlarged-text">
        <i>«Одно из самых главных последствий войны состоит в том, что люди в конце концов разочаровываются в героизме»</i>.
    </p>

    <p class="vonnegut-text enlarged-text">
        Билли Пилигрим попадает в плен к немцам, оказывается в Дрездене и по стечению обстоятельств переживает бомбардировку собственной армии. Но он не ищет виноватых, не проклинает судьбу. Он даже не знает, как реагировать на войну, смерть, жестокость.
    </p>

    <p class="vonnegut-text enlarged-text">
        Сам Воннегут подчёркивает, что войну ведут не старики, а молодые ребята. Понимают ли они, куда идут? Или становятся жертвами мобилизации? Стоит ли сражаться? Ответов нет — как нет их и на вопрос, почему люди снова и снова убивают друг друга, порой без причины.
    </p>

    <p class="vonnegut-text enlarged-text">
        <i>«Знаете, нам тут приходилось воображать, какая там идёт война, и мы считали, что в этой войне сражаются немолодые люди вроде нас с вами. Мы забыли, что войну ведут младенцы. Когда я увидел их свежевыбритые физиономии, я был потрясён. "Бог ты мой! — подумал я. — Да это же крестовый поход детей!"</i>
    </p>

    <p class="vonnegut-text enlarged-text">
        А ведь никто не может ответить, зачем этим детям война. Что скажут политики, зачинщики всего этого? Только <i>«Пьюти-фьют»</i>.
    </p>

    <p class="vonnegut-text enlarged-text">
        <i>Такие дела.</i>
    </p>

    <p class="vonnegut-text enlarged-text">
        <strong>Философия времени</strong><br>
        Последнее, о чём стоит сказать, — это представление времени в романе. Тральфамадорцы, инопланетная сверхраса, воспринимают время нелинейно. Для них нет прошлого и будущего — они просто перемещаются между событиями, которые хотят (или суждено) увидеть. Именно они учат Билли такому восприятию времени: прошлое, будущее — всё едино, единый поток пространства-времени.
    </p>

    <p class="vonnegut-text enlarged-text">
        На самом деле тральфамадорцы учат не Билли, а нас: относиться к жизни и времени проще, принимать судьбу и бессмыслицу. И не смотреть на время линейно — всё лишь мгновение в картине вечности, цельной и неизменной. О какой линейности тогда речь?
    </p>

    <p class="vonnegut-text enlarged-text">
        Собственно, этому и учит нас Воннегут.
    </p>

    <p class="vonnegut-text enlarged-text">
        <i>Такие дела.</i>
    </p>

    <div class="image-container">
        <img src="{% static 'img/drezden.png' %}" alt="Дрезден" class="centered-image">
        <div class="image-overlay">Дрезден</div>
    </div>
    <h1 class="vonnegut-title">Историческая справка</h1>

    <p class="vonnegut-text enlarged-text">
    В феврале 2025 года исполняется 80 лет со дня одного из самых спорных и разрушительных 
    событий Второй мировой войны — бомбардировки Дрездена.
    Это событие до сих пор является предметом споров среди ученых мужей.
    Дрезден, известный своей богатой историей и культурным наследием,
    считался одним из самых красивых городов Европы.
    Однако за считаные часы этот город был превращён в руины.
    Температура в эпицентре достигала 1500 градусов по Цельсию.
    Люди гибли не только от ударов, но и от удушья в подземных убежищах.
    Воздушные потоки буквально засасывали жертв в пламя.
    Некоторые тела буквально испарялись из-за экстремальной жары, оставляя лишь тени на кирпичных 
    стенах.
    Но сам город не имел значительных военных объектов, что ставит под сомнение необходимость атаки.
    Некоторые историки считают, что бомбардировка носила характер устрашения перед Советским Союзом.
    </p>

    <p class="vonnegut-text enlarged-text">
        Когда мы говорим про количество жертв, связанных с этой трагедией,
        то сталкиваемся с разными трактовками.
        Курт Воннегут в своем романе  указывает, 
        что во время бомбардировки Дрездена в 1945 году погибло около <i>135 000 человек</i>.
        Однако по данным комиссии немецких историков, созданной в 2004 году, 
        число жертв составляет <i>от 18 до 25 тысяч человек</i>. А вот Би-би-си сообщало о <i>130 тысячах погибших</i>.
        Различия в оценках связаны с хаотичной ситуацией в городе, большим количеством беженцев и масштабом разрушений.
    </p>



</div>

{% endblock %}