{% extends "base.html" %}
{% load static %}

{% block title %}Книги Курта Воннегута{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

    <div class="vonnegut-booktitle">
        <p class="vonnegut-title">ИЗБРАННЫЕ ПРОИЗВЕДЕНИЯ</p>
    </div>

    <div class="vonnegut-book">
        <div class="book-list">
            <p>- Механическое пианино</p>
            <p>- Мать Тьма</p>
            <p>- Сирены Титана</p>
            <p>- Колыбель для кошки</p>
            <p>- Дай вам Бог здоровья, мистер Розуотер, или Не мечите бисера перед свиньями</p>
            <p>- Бойня номер пять, или Крестовый поход детей</p>
            <p>- Балаган, или Конец одиночеству!</p>
            <p>- Малый не промах</p>
            <p>- Добро пожаловать в обезьянник</p>
            <p>- Рецидивист</p>
            <p>- Галапагосы</p>
            <p>- Синяя борода</p>
            <p>- Фокус-покус</p>
            <p>- Времетрясение</p>
            <p>- Табакерка из Багомбо</p>
            <p>- Сейчас вылетит птичка!</p>
            <p>- Пока смертные спят</p>
        </div>
    </div>

{% endblock %}